APP_HOST=0.0.0.0
APP_PORT=5055
APP_NAME=DifyCRM

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_DATABASE=dify_crm

# Dify Docker containers should use this host when calling the API on Windows.
PUBLIC_API_BASE=http://host.docker.internal:5055
